# Name of the GitHub Actions workflow
name: Cypress API Tests - WITHOUT DOCKER

# Events that trigger this workflow, here, push event on master branch triggers pipeline
on:
  push:
    branches: [ master ]

  # kept empty
  pull_request:

jobs:
  # -------------------
  # BUILD JOB
  # -------------------
  build-job:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository code
      - name: Checkout repo
        uses: actions/checkout@v4

      # Set up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Upload node_modules for reuse in parallel test jobs
      # these are the artifacts that will be used by subsequent jobs
      - name: Upload node_modules
        uses: actions/upload-artifact@v4
        with:
          name: node-modules
          path: node_modules

  # -------------------
  # TEST JOB – api-int-1
  # -------------------
  api-int-1:
    runs-on: ubuntu-latest

    # Runs only after build-job succeeds
    needs: build-job

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

        # reuse the aritfacts generated in build job
      - name: Download node_modules
        uses: actions/download-artifact@v4
        with:
          name: node-modules
          path: node_modules

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Ensure binaries are linked
      - name: Reinstall dependencies (link binaries)
        run: npm ci

      # Run only specs inside api-int-1 directory
      # if not specified, all specs in all directories are executed
      # by default, jobs are run in parallel, so api-int-1 and api-int-2 will run in parallel
      - name: Run Cypress tests (api-int-1)
        run: npx cypress run --spec "cypress/e2e/api-int-1/*.cy.{js,ts}"

  # -------------------
  # TEST JOB – api-int-2
  # -------------------
  api-int-2:
    runs-on: ubuntu-latest

    # Runs only after build-job succeeds
    needs: build-job

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download node_modules
        uses: actions/download-artifact@v4
        with:
          name: node-modules
          path: node_modules

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      # Ensure binaries are linked
      - name: Reinstall dependencies (link binaries)
        run: npm ci

      # Run only specs inside api-int-2 directory
      - name: Run Cypress tests (api-int-2)
        run: npx cypress run --spec "cypress/e2e/api-int-2/*.cy.{js,ts}"
